<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gr_prototype</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>WEB-INF/template/gr_home.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/template-resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>templateResponsive</servlet-name>
    <jsp-file>/WEB-INF/template/template_responsive.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>templateResponsive</servlet-name>
    <url-pattern>/responsive-test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/WEB-INF/template/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>featureHome</servlet-name>
    <jsp-file>/WEB-INF/template/template_product.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>featureHome</servlet-name>
    <url-pattern>/feature</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>featureMembershipContacts</servlet-name>
    <jsp-file>/WEB-INF/template/pages/features/page_membership_management_contacts.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>featureMembershipContacts</servlet-name>
    <url-pattern>/feature/membership-management/contacts-accounts</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>featureMembershipDocumentManagement</servlet-name>
    <jsp-file>/WEB-INF/template/pages/features/page_membership_management_document_management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>featureMembershipDocumentManagement</servlet-name>
    <url-pattern>/feature/membership-management/document-management</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>featureMembershipMembership</servlet-name>
    <jsp-file>/WEB-INF/template/pages/features/page_membership_management_membership.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>featureMembershipMembership</servlet-name>
    <url-pattern>/feature/membership-management/membership</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>featureMembershipStaffManagement</servlet-name>
    <jsp-file>/WEB-INF/template/pages/features/page_membership_management_staff_management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>featureMembershipStaffManagement</servlet-name>
    <url-pattern>/feature/membership-management/staff-management</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>solutionsHome</servlet-name>
    <jsp-file>/WEB-INF/template/template_solutions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>solutionsHome</servlet-name>
    <url-pattern>/solutions</url-pattern>
  </servlet-mapping>
</web-app>