@import url("../../assets/external/fontawesome/css/all.min.css");
/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/
/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/
/* These includes are optional, but helpful. */
/*{% include "hubspot/styles/responsive/modules.css" %}*/
/*{% include "hubspot/styles/patches/recommended.css" %}*/
/*****************************************/
/* Start your style declarations here    */
/*****************************************/
/*

PM MAIN CSS Stylesheet
Author: Tat Chow
Date: March 13, 2019

*/
/*
    Table of Contents

    1.0 - Common Selectors
    2.0 - Header Menu/Top Navigation
    3.0 - Buttons
    	3.1 - Tabs
    4.0 - Main Content
    5.0 - Footer
    6.0 - Home Sections
    7.0 - Product Sections
*/
/*1.0 - Common Selectors*/
/*SASS variables*/
/* line 50, ../../../sass/internal/main.scss */
body {
  color: #353535;
  font-family: "Helvetica Neue";
  padding-top: 6.3rem;
}

/* line 56, ../../../sass/internal/main.scss */
h1, h5 {
  margin-bottom: 26px;
}

/* line 60, ../../../sass/internal/main.scss */
h3 {
  color: #353535;
}

/* line 65, ../../../sass/internal/main.scss */
h3, h5 {
  font-weight: 300;
}

/* line 68, ../../../sass/internal/main.scss */
.row {
  padding: 0 100px;
}

/* line 71, ../../../sass/internal/main.scss */
ul {
  padding: 0;
}
/* line 74, ../../../sass/internal/main.scss */
ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* line 80, ../../../sass/internal/main.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 86, ../../../sass/internal/main.scss */
.bold {
  font-weight: 600;
}

/* line 92, ../../../sass/internal/main.scss */
.section section {
  padding: 100px 0;
}

/* line 97, ../../../sass/internal/main.scss */
.footnote {
  color: #FFF;
  font-size: .8em;
}
/* line 101, ../../../sass/internal/main.scss */
.footnote a {
  color: #FFF;
  text-decoration: underline;
}

/*2.0 - Header Menu/Top Navigation */
/* line 109, ../../../sass/internal/main.scss */
.navbar {
  background-color: #FFFFFF;
  padding: 25px 100px !important;
  transition: 0.5s;
}
/* line 115, ../../../sass/internal/main.scss */
.navbar .navbar-brand {
  margin-right: 2.5rem;
}
/* line 118, ../../../sass/internal/main.scss */
.navbar .navbar-brand img {
  width: 225px;
}
/* line 126, ../../../sass/internal/main.scss */
.navbar button.btn-lg {
  font-size: 1em;
  transition: 0.5s;
  white-space: nowrap;
  width: 226px;
}
/* line 138, ../../../sass/internal/main.scss */
.navbar.shrink {
  background-color: #FDFDFD;
  border: 1px solid #CCCCCC;
  padding: 10px 100px !important;
}
/* line 144, ../../../sass/internal/main.scss */
.navbar.shrink .btn-lg {
  font-size: 1rem;
  padding: .3rem .5rem;
}
/* line 159, ../../../sass/internal/main.scss */
.navbar.shrink ul.navbar-nav li.nav-item .dropdown-menu {
  margin-top: 12px;
}
/* line 164, ../../../sass/internal/main.scss */
.navbar.shrink ul.navbar-nav li.nav-item:before {
  margin-top: 7px;
}
/* line 178, ../../../sass/internal/main.scss */
.navbar .nav-login {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0;
  padding-left: .3rem;
  padding-right: 2.3rem;
  white-space: nowrap;
}
/* line 185, ../../../sass/internal/main.scss */
.navbar .nav-login:hover {
  color: #009fdf;
}
/* line 189, ../../../sass/internal/main.scss */
.navbar .nav-login i {
  font-size: 14px;
}
/* line 196, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav {
  position: relative;
  width: 100%;
}
/* line 203, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav a.nav-title {
  cursor: initial;
  font-weight: 600;
  margin-bottom: 36px;
}
/* line 208, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav a.nav-title:hover {
  background-color: inherit;
}
/* line 214, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav a.nav-title i {
  font-size: 25px;
  margin-left: 0;
  margin-right: 15px;
}
/* line 221, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav a i, .navbar ul.navbar-nav a svg {
  margin-left: 20px;
  transition: all 0.3s ease;
}
/* line 231, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item {
  margin-bottom: -10px;
  margin-right: 25px;
}
/* line 240, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #009fdf !important;
}
/* line 246, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .row {
  padding: 37px;
}
/* line 252, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu {
  margin-top: 28px;
}
/* line 256, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu.columns-2 {
  min-width: 610px;
}
/* line 262, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu .dropdown-item {
  display: inline-block;
  padding: 0;
  width: inherit;
}
/* line 271, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li {
  display: table;
  margin-bottom: 36px;
}
/* line 278, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li:hover a {
  background-color: inherit;
  color: #009fdf;
}
/* line 285, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul {
  display: table-row;
}
/* line 290, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul:hover i {
  color: #009fdf;
}
/* line 294, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul:hover a {
  background-color: inherit;
  color: #009fdf;
}
/* line 301, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul li {
  display: table-cell;
}
/* line 304, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul li:first-child {
  padding-right: 20px;
  text-align: center;
  width: 50px;
}
/* line 309, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-menu ul li ul li:first-child i {
  font-size: 25px;
}
/* line 327, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-toggle[aria-expanded="true"] {
  color: #009fdf;
}
/* line 332, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-toggle[aria-expanded="true"] i {
  transform: rotate(180deg);
}
/* line 336, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}
/* line 346, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item .dropdown-toggle:after {
  display: none;
  transition: 0.5s;
}
/* line 358, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item.show:before {
  width: 100px;
}
/* line 364, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav li.nav-item:before {
  content: "";
  position: absolute;
  background: #009fdf;
  width: 0px;
  height: 5px;
  margin-top: 22px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}
/* line 387, ../../../sass/internal/main.scss */
.navbar ul.navbar-nav > li:last-child {
  position: absolute;
  right: 0;
}

/*3.0 Buttons*/
/* line 400, ../../../sass/internal/main.scss */
button {
  color: #FFFFFF;
}

/* line 403, ../../../sass/internal/main.scss */
.btn-primary {
  color: #FFFFFF;
  background-color: #003594;
  border-color: #003594;
}

/* line 408, ../../../sass/internal/main.scss */
.btn-outline-primary {
  color: #003594;
  border-color: #003594;
}

/* line 412, ../../../sass/internal/main.scss */
.btn-lg {
  border-radius: 2rem;
}

/* line 416, ../../../sass/internal/main.scss */
.btn-orange {
  background-color: #fe9900;
  border-color: #fe9900;
  color: #000;
  width: 100%;
}

/* line 425, ../../../sass/internal/main.scss */
.btn-white {
  background-color: #FFF;
  border-color: #FFF;
  color: #353535;
}

/*5.0 Footer Container*/
/* line 434, ../../../sass/internal/main.scss */
#section-demo {
  background: url("../../images/internal/background/bg_demo_section.jpg") no-repeat;
  background-size: cover;
  height: 577px;
  text-align: center;
}
/* line 441, ../../../sass/internal/main.scss */
#section-demo h3, #section-demo h6 {
  color: #FFF;
  margin-bottom: 26px;
}
/* line 446, ../../../sass/internal/main.scss */
#section-demo #demo-form-container {
  margin: 0 auto;
  padding: 70px 0;
  width: 460px;
}
/* line 455, ../../../sass/internal/main.scss */
#section-demo #demo-form-container .form-row {
  margin-bottom: 10px;
}
/* line 457, ../../../sass/internal/main.scss */
#section-demo #demo-form-container .form-row .col {
  margin-right: 10px;
}

/* line 465, ../../../sass/internal/main.scss */
#footer-container {
  background-color: #333333;
  padding: 50px 50px;
}
/* line 470, ../../../sass/internal/main.scss */
#footer-container .logo img {
  filter: brightness(0) invert(1);
  width: 90%;
}
/* line 475, ../../../sass/internal/main.scss */
#footer-container h5 {
  color: #FFFFFF;
  margin-bottom: 20px;
}
/* line 481, ../../../sass/internal/main.scss */
#footer-container ul li a {
  color: #686c6b;
  font-size: 14px;
}

/* line 491, ../../../sass/internal/main.scss */
#section-social-group .row {
  padding: 50px;
}
/* line 494, ../../../sass/internal/main.scss */
#section-social-group .footnote {
  color: #CCCCCC;
}
/* line 497, ../../../sass/internal/main.scss */
#section-social-group ul {
  display: inline-block;
}
/* line 499, ../../../sass/internal/main.scss */
#section-social-group ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 503, ../../../sass/internal/main.scss */
#section-social-group ul li a {
  color: #333;
  font-size: 30px;
}
/* line 509, ../../../sass/internal/main.scss */
#section-social-group ul.social-media-links {
  float: right;
}

/*6.0 - Home Sections*/
/* line 520, ../../../sass/internal/main.scss */
#home-section section #tour-container {
  border: 1px solid #ccc;
  margin-top: 50px;
  padding: 50px 100px;
  text-align: center;
}
/* line 527, ../../../sass/internal/main.scss */
#home-section section #tour-container .row {
  padding: 0;
}
/* line 531, ../../../sass/internal/main.scss */
#home-section section #tour-container > div {
  margin: 0 auto;
}
/* line 539, ../../../sass/internal/main.scss */
#home-section section#section-hero {
  color: #FFFFFF;
  background-color: #003594;
  padding: 100px 200px;
  text-align: center;
}
/* line 546, ../../../sass/internal/main.scss */
#home-section section#section-hero .btn-container {
  margin-top: 50px;
}
/* line 549, ../../../sass/internal/main.scss */
#home-section section#section-hero .btn-container .btn-primary {
  background-color: #007bff;
}
/* line 556, ../../../sass/internal/main.scss */
#home-section section#section-media-group {
  background-color: #e7e7e7;
  padding: 30px 0 30px;
  text-align: center;
}
/* line 566, ../../../sass/internal/main.scss */
#home-section section#section-platform-check i {
  color: #003594;
}
/* line 570, ../../../sass/internal/main.scss */
#home-section section#section-platform-check ul {
  margin-top: 25px;
}
/* line 580, ../../../sass/internal/main.scss */
#home-section section#section-feature {
  background-color: #dde4ec;
}
/* line 586, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features ul {
  margin: 0 auto;
  text-align: center;
}
/* line 593, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features ul#feature-titles li {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
/* line 599, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features ul#feature-titles li.active {
  border-bottom: 1px solid #003594;
}
/* line 609, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features .carousel-control-prev {
  left: -200px;
}
/* line 612, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features .carousel-control-next {
  right: -200px;
}
/* line 618, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features .carousel-inner .row {
  padding: 100px 50px;
}
/* line 622, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features .carousel-inner > div {
  height: 500px;
}
/* line 629, ../../../sass/internal/main.scss */
#home-section section#section-feature #carousel-features .carousel-inner .img-container {
  background: url("../../images/internal/background/img_obama.jpg") no-repeat;
  height: 392px;
  width: 100%;
}
/* line 643, ../../../sass/internal/main.scss */
#home-section section#section-testimonial .testimonial .avatar {
  margin-bottom: 30px;
}
/* line 652, ../../../sass/internal/main.scss */
#home-section section#section-industry {
  text-align: center;
}
/* line 656, ../../../sass/internal/main.scss */
#home-section section#section-industry h3 {
  margin-bottom: 25px;
}
/* line 659, ../../../sass/internal/main.scss */
#home-section section#section-industry .img-container {
  margin: 25px 0 50px;
}
/* line 662, ../../../sass/internal/main.scss */
#home-section section#section-industry #img-business {
  background: url("../../images/internal/background/img_obama.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 392px;
  width: 100%;
}
/* line 672, ../../../sass/internal/main.scss */
#home-section section#section-industry #img-organization {
  background: url("../../images/internal/background/img_obama.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 392px;
  width: 100%;
}
/* line 683, ../../../sass/internal/main.scss */
#home-section section#section-contact {
  background-color: #dde4ec;
}
/* line 688, ../../../sass/internal/main.scss */
#home-section section#section-contact .row div:nth-child(2) div {
  width: 80%;
}
/* line 694, ../../../sass/internal/main.scss */
#home-section section#section-contact #img-group {
  background: url("../../images/internal/background/img_obama.jpg") no-repeat;
  height: 392px;
  width: 80%;
}
/* line 702, ../../../sass/internal/main.scss */
#home-section section#section-philosophy {
  text-align: center;
}
/* line 707, ../../../sass/internal/main.scss */
#home-section section#section-philosophy .col div {
  margin: 0 auto;
  width: 80%;
}

/*7.0 Product Section*/
/* line 724, ../../../sass/internal/main.scss */
#section-product section .description {
  padding: 50px;
}
/* line 727, ../../../sass/internal/main.scss */
#section-product section#section-faq {
  padding: 100px 150px;
}
/* line 729, ../../../sass/internal/main.scss */
#section-product section#section-faq > div {
  margin-bottom: 50px;
}
/* line 734, ../../../sass/internal/main.scss */
#section-product section#section-faq h1, #section-product section#section-faq h5 {
  text-align: center;
}
/* line 737, ../../../sass/internal/main.scss */
#section-product section#section-faq h4 {
  color: #003594;
}
/* line 742, ../../../sass/internal/main.scss */
#section-product section#section-faq .accordion button {
  color: #003594;
  width: inherit;
}
/* line 746, ../../../sass/internal/main.scss */
#section-product section#section-faq .accordion button.btn-plus {
  float: right;
  margin-top: 5px;
}
/* line 750, ../../../sass/internal/main.scss */
#section-product section#section-faq .accordion button.btn-plus:after {
  content: "\f055";
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  right: 20px;
}
/* line 756, ../../../sass/internal/main.scss */
#section-product section#section-faq .accordion button.btn-plus[aria-expanded="true"]:after {
  content: "\f056";
}
/* line 763, ../../../sass/internal/main.scss */
#section-product section#section-faq .accordion .card .card-header {
  background-color: #FFF;
}
/* line 770, ../../../sass/internal/main.scss */
#section-product section#section-faq #topic-container .description {
  padding: 0;
}
/* line 773, ../../../sass/internal/main.scss */
#section-product section#section-faq #topic-container a {
  color: #003594;
  display: block;
  margin-top: 20px;
}
/* line 780, ../../../sass/internal/main.scss */
#section-product section#section-faq #topic-container > div > div {
  border: 1px solid #CCC;
}
/* line 783, ../../../sass/internal/main.scss */
#section-product section#section-faq #topic-container > div > div .info-container {
  padding: 20px;
}
/* line 791, ../../../sass/internal/main.scss */
#section-product section#section-more-features {
  background: url("../../images/internal/background/bg_blue_world.png") no-repeat;
  background-size: cover;
  color: #FFF;
}
/* line 796, ../../../sass/internal/main.scss */
#section-product section#section-more-features .description {
  padding: 0 150px !important;
}
/* line 800, ../../../sass/internal/main.scss */
#section-product section#section-more-features a {
  color: #FFF;
}
/* line 804, ../../../sass/internal/main.scss */
#section-product section#section-more-features .box-container {
  background-color: #FFF;
  color: #353535;
  padding: 70px 100px;
  text-align: center;
  width: 70%;
  box-shadow: 0 10px 10px -2px #333333;
}
/* line 806, ../../../sass/internal/main.scss */
#section-product section#section-more-features .box-container h1 {
  color: #003594;
  font-family: marydale, sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* line 822, ../../../sass/internal/main.scss */
#section-product section#section-multi-program .description {
  padding: 150px !important;
}
/* line 827, ../../../sass/internal/main.scss */
#section-product section#section-payment .description {
  padding-left: 150px !important;
}
/* line 831, ../../../sass/internal/main.scss */
#section-product section#section-freeze {
  background: url("../../images/internal/background/bg_exercise.png") no-repeat;
  background-size: cover;
  color: #FFF;
  padding-bottom: 0;
}
/* line 837, ../../../sass/internal/main.scss */
#section-product section#section-freeze .description {
  padding: 150px;
}
/* line 841, ../../../sass/internal/main.scss */
#section-product section#section-client-dashboard {
  background-color: #1e2a36;
  color: #FFF;
  padding-bottom: 0;
  padding-top: 50px;
}
/* line 849, ../../../sass/internal/main.scss */
#section-product section#section-client-dashboard .description a {
  color: #FFF;
}
/* line 854, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 860, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-carousel .row .col {
  padding-top: 50px;
}
/* line 866, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-nav {
  background-color: #dde4ec;
  box-shadow: 0 4px 4px -2px #CCC;
}
/* line 870, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-nav ul {
  padding: 0 150px;
  width: 100%;
  margin: 0;
}
/* line 874, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-nav ul li {
  display: inline-block;
  width: 24%;
  text-align: center;
  padding: 30px;
  margin-bottom: -1px;
  cursor: pointer;
  border-bottom: 0px solid #CCC;
  transition: 0.5s;
}
/* line 882, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-nav ul li:hover {
  text-decoration: underine;
}
/* line 888, ../../../sass/internal/main.scss */
#section-product section#section-membership-widgets #membership-nav ul li.active {
  background-color: #FFF;
  border-bottom: 3px solid #009fdf;
}
/* line 900, ../../../sass/internal/main.scss */
#section-product section#section-hero .row div.col-md-6:nth-child(1), #section-product section#section-membership-widgets .row div.col-md-6:nth-child(1), #section-product section#section-client-dashboard .row div.col-md-6:nth-child(1), #section-product section#section-payment .row div.col-md-6:nth-child(1), #section-product section#section-freeze .row div.col-md-6:nth-child(1), #section-product section#section-multi-program .row div.col-md-6:nth-child(1), #section-product section#section-faq .row div.col-md-6:nth-child(1) {
  padding: 50px 50px 0;
}
/* line 905, ../../../sass/internal/main.scss */
#section-product section#section-hero button, #section-product section#section-membership-widgets button, #section-product section#section-client-dashboard button, #section-product section#section-payment button, #section-product section#section-freeze button, #section-product section#section-multi-program button, #section-product section#section-faq button {
  margin-right: 17px;
  width: 45%;
}
/* line 910, ../../../sass/internal/main.scss */
#section-product section#section-hero a, #section-product section#section-membership-widgets a, #section-product section#section-client-dashboard a, #section-product section#section-payment a, #section-product section#section-freeze a, #section-product section#section-multi-program a, #section-product section#section-faq a {
  color: #FFFFFF;
}
/* line 914, ../../../sass/internal/main.scss */
#section-product section#section-hero span i, #section-product section#section-membership-widgets span i, #section-product section#section-client-dashboard span i, #section-product section#section-payment span i, #section-product section#section-freeze span i, #section-product section#section-multi-program span i, #section-product section#section-faq span i {
  margin-left: 17px;
}
/* line 918, ../../../sass/internal/main.scss */
#section-product section#section-hero img, #section-product section#section-membership-widgets img, #section-product section#section-client-dashboard img, #section-product section#section-payment img, #section-product section#section-freeze img, #section-product section#section-multi-program img, #section-product section#section-faq img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 927, ../../../sass/internal/main.scss */
#section-product section#section-hero {
  color: #FFFFFF;
  background: url("../../images/internal/background/bg_blue_section.png") no-repeat;
  background-size: cover;
  padding: 100px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* line 941, ../../../sass/internal/main.scss */
  body {
    padding-top: 90px;
  }

  /* line 944, ../../../sass/internal/main.scss */
  .row {
    padding: 0 30px;
  }

  /* line 947, ../../../sass/internal/main.scss */
  .navbar {
    padding: 10px 10px !important;
  }
  /* line 950, ../../../sass/internal/main.scss */
  .navbar.shrink {
    padding: 10px 10px !important;
  }
  /* line 959, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav a.nav-title {
    margin-bottom: 10px;
  }
  /* line 965, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav i {
    float: right;
  }
  /* line 974, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav li.nav-item.show:before {
    width: 0;
  }
  /* line 982, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav li.nav-item .dropdown-menu {
    margin-top: 0;
  }
  /* line 986, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav li.nav-item .dropdown-menu.columns-2 {
    min-width: 100%;
  }
  /* line 995, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav li.nav-item .dropdown-menu ul li {
    margin-bottom: 10px;
  }
  /* line 1009, ../../../sass/internal/main.scss */
  .navbar ul.navbar-nav > li:last-child {
    position: relative;
  }
  /* line 1022, ../../../sass/internal/main.scss */
  .navbar a.nav-login {
    padding-left: 0;
  }
  /* line 1029, ../../../sass/internal/main.scss */
  .navbar button {
    margin-top: 20px;
  }
  /* line 1033, ../../../sass/internal/main.scss */
  .navbar button.btn-lg {
    font-size: 1rem;
  }

  /* line 1050, ../../../sass/internal/main.scss */
  #home-section section#section-feature #carousel-features .carousel-inner {
    margin-top: 30px;
  }
  /* line 1054, ../../../sass/internal/main.scss */
  #home-section section#section-feature #carousel-features .carousel-inner .row {
    padding: 0;
  }
  /* line 1058, ../../../sass/internal/main.scss */
  #home-section section#section-feature #carousel-features .carousel-inner .img-container {
    display: none;
  }
  /* line 1066, ../../../sass/internal/main.scss */
  #home-section section#section-hero {
    padding: 10px;
  }
  /* line 1070, ../../../sass/internal/main.scss */
  #home-section section#section-hero .row {
    padding: 10px 10px;
  }
  /* line 1085, ../../../sass/internal/main.scss */
  #home-section section#section-contact #img-group {
    display: none;
  }
  /* line 1093, ../../../sass/internal/main.scss */
  #home-section section #tour-container {
    padding: 50px 30px;
  }

  /* line 1105, ../../../sass/internal/main.scss */
  #section-demo #demo-form-container {
    padding: 40px 0;
    width: 100%;
  }

  /* line 1115, ../../../sass/internal/main.scss */
  #footer-container .logo {
    display: none;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 1125, ../../../sass/internal/main.scss */
  .row {
    padding: 0 50px;
  }

  /* line 1130, ../../../sass/internal/main.scss */
  #section-product section#section-hero {
    padding: 0;
  }
}
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1800px) {
  /* line 1144, ../../../sass/internal/main.scss */
  #section-product section#section-hero {
    padding: 50px 0;
  }
  /* line 1147, ../../../sass/internal/main.scss */
  #section-product section#section-hero .row div:nth-child(1) {
    padding: 0;
  }

  /* line 1155, ../../../sass/internal/main.scss */
  #video-frame .modal-dialog {
    width: 800px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
