@import url('../../assets/external/fontawesome/css/all.min.css');

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
/*{% include "hubspot/styles/responsive/modules.css" %}*/
/*{% include "hubspot/styles/patches/recommended.css" %}*/


/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/*

PM MAIN CSS Stylesheet
Author: Tat Chow
Date: March 13, 2019

*/

/*
    Table of Contents

    1.0 - Common Selectors
    2.0 - Header Menu/Top Navigation
    3.0 - Buttons
    	3.1 - Tabs
    4.0 - Main Content
    5.0 - Footer
    6.0 - Home Sections
    7.0 - Product Sections
    8.0 - Solutions Sections
    9.0 - Security
    10.0 - Pricing
*/

/*1.0 - Common Selectors*/
/*SASS variables*/
$content-font-color:#353535;
$pm-white: #FFFFFF;
$pm-dark-purple:#003594;
$pm-light-blue:#009fdf;
$nav-carousel-bg-color:#dde4ec;
$content-container:1460px;
$pm-orange:#fe9900;
$description-font-color:#999999;
$top-nav-color:#333333;

html {
  scroll-behavior: smooth;
}

body{
	color:$content-font-color;
	font-family:helvetica,arial,sans-serif;
	padding-top:6.4rem;
	
	&.trans-container{
		padding-top:0;
	}
}
h1,h2,h3,h4,h5,h6{
	font-weight:600;
}
h1,h2,h3,h4,h5,h6,p{
	span{
		&.no-br{
			white-space:nowrap;
		}
	}
}
h1{
	color:#333333;
}
h2{
	margin-bottom:30px;
}
h1,h5{
	margin-bottom:26px;
	
}
h3{
	color:$content-font-color;
	
}

h3,h5{
	font-weight:300;
}

ul{
	padding:0;
	
	li{
		list-style-type:none;
		margin-bottom:10px;
	}
	
}

dd{
	color:$description-font-color;
	
}
.row{
	margin-left:0;
	margin-right:0;
	
}
.container-fluid{
	
	padding-left:0;
	padding-right:0;
}

.bold{
		font-weight:600;
	
}
.contact-list{
	color:$pm-dark-purple;
	
	a{
		color:$pm-dark-purple;
	}
}

.content-container{
	margin:0 auto;
	max-width:$content-container;
	transition: 0.5s;
}
.column-3-center{
	text-align:center;
	
	.col-md-4{
		padding:0 7%;
	}
	 dl{
	 	> *{
	 		margin-bottom:20px;
	 	}
	 	
	 	font-size:1.2rem;
	 	i{
	 		font-size:2rem;
	 	}
	 	dt{
	 	
	 	}
	 	
	 	dd{
	 		
	 		font-weight:300;
	 	}
	 }
}
.bg-light-grey{
	
	background-color:$nav-carousel-bg-color;
}
.bg-dark-purple{
	
	background-color:$pm-dark-purple;
	color:$pm-white;
}		

.text-center{
	text-align:center;
	
	button{
		width:15%;
	}
}
.no-pad{
	padding:0;
}
.footnote{
	color:#FFF;
	font-size:.8em;
	
	a{
		color:#FFF;
		text-decoration:underline;
	}
	
}
.modal{
	.modal-dialog {
	     max-width: 800px;
	     margin: 30px auto;
      
	     .modal-body {
			  position:relative;
			  padding:0px;
				
				.close {
				  position:absolute;
				  right:-30px;
				  top:0;
				  z-index:999;
				  font-size:2rem;
				  font-weight: normal;
				  color:#fff;
				  opacity:1;
				}	
		}
  }
	
}
.vid-player{
			
	position:relative;
	
	i{
		background-color:$pm-white;
		border-radius:50%;
		color:red;
		cursor:pointer;
		font-size:3rem;
		top:45%;
		right:48%;
		position:absolute;
		
		&:hover{
			background-color:#ccc;
		}
	}
	
}



/*FAQ Accordian*/
#section-faq{
		
	padding:5% 12%;
	
	h2,h5{
		text-align:center;
	}
	h4{
		color:$pm-dark-purple;
		font-size:1.3rem;
		text-align:left !important;
	}
	
	
	&.bg-light-grey{
		.card{
			background-color:transparent !important;
			border: 1px solid $pm-white;
			.card-header{
				background-color:transparent !important;
			}
		}
	}
	
	#faq-collapse{
		margin-bottom:50px;
		margin-top:50px;
	}
	.accordion{
		button{
			color:$pm-dark-purple;
			width:inherit;
			margin:0;
			
			&.btn-plus{
				float:right;
				
				&:after {
					  content: "\f055"; 
					  font-family: 'Font Awesome 5 Pro';
					  position: absolute;
					  right: 20px;
					  font-size:1.3rem;
					}
				&[aria-expanded="true"]:after {
				  content: "\f056"; 
				}
			}
		}
		
		.card{
			.card-header{
				background-color:#FFF;
			}
		}
	}
	
	
}
/*Nav Carousel*/

.nav-carousel{
	.row{
		.col{
			padding-top:5%;
			
		}
	}
	.description{
		padding: 8% 8% 0;
	}
	
	.navbar{
		background-color:$nav-carousel-bg-color !important;
		padding:0;
		width:$content-container;
		
		.navbar-nav{
			a{
				white-space:normal !important;
			}
		}
		
		
		
		a{
			&.navbar-brand{
				
				color:$content-font-color !important;
				display:none;
				
			}
			
		
		}

	.navbar-toggler{
			width:initial !important;
		}
	}
	
	.nav-title{
		background-color: $nav-carousel-bg-color;
	    box-shadow: 0 4px 4px -2px #CCC;
	    
	    .form-group{
	    	display:none;
	    }
	    ul{
	    	
		    width: 100%;
		    margin: 0;
	    	li{
	    		display: inline-block;
			   
			    text-align: center;
			    padding: 30px;
			    margin-bottom: -1px;
			    cursor:pointer;
			    
			    &:hover{
			    	text-decoration:underine;
			    }
			    border-bottom:0px solid #CCC;
			    transition: 0.5s;
			   
			    
			    &.active{
			    	background-color:#FFF;
			    	border-bottom:3px solid $pm-light-blue;
			    }
			    
			    a{
			    	color:$content-font-color !important;
			    	
			    }
	    	}
	    }
	}
}

/*Demo Form*/
.demo-form-container{
		
	margin:0 auto;
	padding:70px 0;
	width:460px;
	text-align:center;
	
	
	h3,h6{
		color:#FFF;
		margin-bottom:26px;
	}
	
	input{
	
	}
	.form-row{
		margin-bottom:10px;
		.col{
			margin-right:10px;
		}
	}
}

/*Topic Container*/

.topic-container{
	
	color:$pm-dark-purple;
	margin:50px 0 50px;
	
	h6{
		font-size:1.2rem;
		text-align:left !important;
		
		i{
			margin-right:10px;
		}
	}
	.description{
		padding:0 !important;
	}
	a{
		color:$pm-dark-purple;
		display:block;
		margin-top:20px;
	}
	
	>div{
		>div{
			border:1px solid #CCC;
			
			.info-container{
				padding:20px;
				
				.description{
					padding: 1% 0 4% !important;
				}
			}
		}
		
	}
}

/*Section*/
.section{
	
	section{
		padding:70px 0;
		
		h1,h2,h3,h4,h5,h6{
			text-align:center;
		}
		.row{
			.description{
				padding: 1% 5% 4% !important;
				
				h1,h2,h3,h4,h5,h6{
					text-align:left;
				}
		
			}
		}
		
		.btn-lg{
			font-size:1rem;
		}
		
		img{
			display:block;
			margin:0 auto;
			max-width:100%;
			
		}
		
		&.section-hero{
			color:$pm-white;
			background-size:cover;
			background-position:center;
			
			>.row{
				padding: 0 4%;
			}
			
			.row{
				.description{
					padding: 10px 8% 0;
				}
			}
			
		}
	}
}

#section-hero{
	color:$pm-white;
	
	#glb-bnr-strp-1 {
	    bottom: -400px;
	    transform: rotate(160deg);}
	    #glb-bnr-strp-1 {
	    left: 0;
	    bottom: -324px;}
	.glb-bnr-strp {
	    height: 700px;
	    width: 150%;
	    background-color: rgb(0, 51, 153);
	 	opacity: 0.302;
	    display: inline-block;
	    position: absolute;
	    transform: rotate(155deg);
	}
	.glb-bnr-strp-inr {
	    position: relative;
	    width: 100%;
	    height: 100%;
	}
	.glb-bnr-strp-brd {
	    content: '';
	    width: 0;
	    height: 0;
	    display: inline-block;
	    border-left: 600px solid transparent;
	    border-right: 0 solid transparent;
	    border-bottom: 30px solid rgba(255,255,255,0.05);
	    position: relative;
	    top: 98%;
	    right: -20%;
	    transform: rotate(2.5deg);
	    display: none;
	}
	
	h1,h2{
		color:$pm-white;
	}
	
	.btn-container{
		margin-top:50px;
		
		button{
			margin-right:10px;
			width:35%;
		}
	}
	
	
	>.row{
		padding: 0 4%;
	}
	
	.row{
	
		div:nth-child(1){
			&.description{
				
			}
		}
		.description{
			padding: 10px 8% 0;
		}
	}
	
}


/*2.0 - Header Menu/Top Navigation */
.trans-container{
	#top-nav{
		.navbar{
			ul{
				&.navbar-nav{
					li{
						&.nav-item{
							&:before{
								background:$pm-white;
							}
							
						}
					}
				}
			}
			&.shrink{
				
				&.content-container{
					max-width:inherit;
				}
				ul{
					&.navbar-nav{
					
						li{
						
							&.nav-item{
							
								.nav-link{
									 color: $top-nav-color !important;
	
								}
								
								&:before{
									background:$top-nav-color;
								}
							}
						
						}
					
					}
				}
				
				.nav-login{
					 color: $content-font-color;

				}
			}
			background-color:transparent;
			transition: 0s linear;
			
			.navbar-brand{
				img {
				    filter: brightness(0) invert(1);
				    transition: 0.5s;
				    
				}
			}
			
			.navbar-light{
				.navbar-toggler{
					color:$pm-white;
					border-color:$pm-white;
				}
			} 
			
			.nav-link,.nav-login{
				color:$pm-white !important;
			}
			
			.btn-primary{
				background-color:$pm-orange;
				border-color:$pm-orange;
				color:$content-font-color;
			}	
		}
	}
	
	section{
		&#section-hero{
			padding-top:150px;
		}
	}
	
}
#top-nav{
	.navbar{
		
		background-color:#FFFFFF;
		padding:25px 14% !important;
		
		
		.navbar-brand{
			margin-right:2.5rem;
			
			img{
				width:225px
			}
		}
		button{
		
			
		
			&.btn-lg{
		
				font-size: 1em;
				transition: 0.5s;
				white-space:nowrap;
				width: 226px;
	    		
			
			}
		}
		
		
		&.shrink{
		
			background-color:#FDFDFD;
			border:1px solid #CCCCCC;
			padding:10px 100px !important;
			transition: 0.5s;
			
			&.content-container{
			
				max-width:inherit;
			
			}
			
			.btn-lg{
				
				font-size:1rem;
				padding: .3rem .5rem;
			
			}
			
			.navbar-brand{
				img{
					filter:none;
				}
			} 
			
			ul{
			
				&.navbar-nav{
				
					li{
					
						&.nav-item{
					
							.dropdown-menu{
						
								margin-top:12px;
							}
							
							
							&:before{
								margin-top:7px;
							
							}	
						
						}
					
					}
				
				}
			
			}
		
		}
		.nav-login{
			color:$top-nav-color;
		 	padding-bottom:0;
		 	padding-left:.3rem;
		 	padding-right:2.3rem;
		 	white-space:nowrap;
		 	
		 
		 	
		 	i{
		 		font-size:14px;
		 	}
		}
		
		ul{
			
			&.navbar-nav{
			
				position:relative;
				width:100%;
				
				a{
						
					&.nav-title{
						cursor: initial;
						font-weight:600;
						margin-bottom:36px;
						
						&:hover{
						
							background-color:inherit;
						
						}
						
						i{
							font-size:25px;
							margin-left:0;
							margin-right:15px;
						}
					}
					
					i,svg{
						font-size:.7rem;
						font-weight:800;
						margin-left:10%;
						transition: all 0.3s ease;
					}
				
				}
		
				li{
					
				
					&.nav-item{
						
						&.dropdown{
							&:hover{
								&:before{
									width:100px;
								}
								.dropdown-toggle{
									i{
										transform: rotate(180deg);
									}
								}
								>.dropdown-menu{
									display:block;
								}
							}
						}
						
						margin-bottom:-10px;
						margin-right:2%;
						
						a{
							&.nav-link{
								
								color:$top-nav-color;
								
								
							}
						}
						
					.row{
					
						
					
					}
					.dropdown-menu-right{
						right:-14px;
					}
					.dropdown-menu{
					
						margin-top:28px;
						padding:37px;
						transition:0;
						
						.vertical-divider-right{
						 	border-right: 2px solid $nav-carousel-bg-color;
						    height: 115%;
						    position: absolute;
						    top: -36px;
						    right: 0;
						
						}
						
						.row{
							.col-sm-6{
								&:nth-child(2){
									padding-left:30px;
								}
							}
						}
						
						&.columns-2{
						
							min-width: 700px;
						
						}
						
						.dropdown-item{
							color:$top-nav-color;
							display:inline-block;
							font-weight:500;
							padding:0;
							width:inherit;
						
						}
						
						.section-nav-title{
							margin-bottom:30px;
							
							dl{
								dt{
									font-size:1.2;
								}
								dd{
									color:$top-nav-color;
								}
							}
						}
						
						ul{
						
							li{
								height:70px;
								
								&:hover{
									
									a{
										background-color:inherit;
										
									}
								
								}
								
									ul{
										display:table-row;
										
										&:hover{
										
											i{
												color:$top-nav-color;
											}
											
											a{
												background-color:inherit;
												
											}
										
										}
									
										li{
											display:inline-block;
											
											dl{
												padding-left:20px;
											}
											&:first-child{
											    
											    text-align: center;
											    width: 50px;
											    vertical-align:top;
											    
											    i{
											    	background-color:$nav-carousel-bg-color;
											    	border-radius:50%;
											    	font-size: 25px;
											    	height:50px;
											    	width:50px;
											    	
											    	&:before{
														line-height:2;
													}
											    }
											}
										}
										
										
									}
							
							}
						
						}
					}
					
		
					
					.dropdown-toggle{
					
						&[aria-expanded="true"]{
						
						
							color:$top-nav-color;
							
							i{
								transform: rotate(180deg);
							}
						
							&:after{
							
								transform: rotate(180deg);
							
							}
							
							
						
						}
						
						&:after{
							
							display:none;
							 
							
						
						}
					
					}
					
					&.show{
					
							&:before{
								width:100px;
						}
					
					}
					
					&:before{
					
						content: "";
					    position: absolute;
					    background: $top-nav-color;
					    width: 0px;
					    height: 5px;
					    margin-top:22px;
					    top: 100%;
					    -webkit-transform: translate(0%, 0%);
					    transform: translate(0%, 0%);
					    -webkit-transition: all 0.3s ease;
					   
					    z-index: -1;
					}	
					
					}
				
					
				
				}
				
				>li{
					&:last-child{
						position:absolute;
						right:0;
					}
				
				}
		
			}
		}
		
	}
}

/*3.0 Buttons*/
button{
	color:$pm-white;
}
.btn{
	font-weight:500;
}
.btn-primary{
	color:$pm-white;
	background-color:$pm-dark-purple;
	border-color: $pm-dark-purple;
}
.btn-outline-primary{
	color: $pm-dark-purple;
    border-color: $pm-dark-purple;
}
.btn-lg{
	border-radius:2rem;
}
.btn-outline-white{
	color: $pm-white;
    border-color: $pm-white;
}
.btn-orange{
	
	background-color: $pm-orange;
    border-color: $pm-orange;
    color: #000;
    width: 100%;
	
}
.btn-white-orange{
	background-color: $pm-orange;
    border-color: $pm-orange;
    color: $pm-white;
    width: 100%;
}
.btn-white{
	background-color: #FFF;
    border-color: #FFF;
    color: $content-font-color;
}


/*5.0 Footer Container*/

#section-demo{
	background: url('../../images/internal/background/bg_demo_section.jpg') no-repeat;
    background-size:cover;
		
}

#footer-container{
	background-color:#333333;
	padding:50px 50px;
	
	.logo{
		img{
			filter: brightness(0) invert(1);
			width:90%;
		}
	}
	h5{
		color:#FFFFFF;
		margin-bottom:20px;
	}
	ul{
		li{
			a{
				color:#686c6b;
				font-size:14px
			}
		}
	}
	
}
#section-social-group{
	
	.row{
		padding:3%;
	}
	.footnote{
		color:#CCCCCC;
	}
	ul{
		display:inline-block;
		li{
			display:inline-block;
			margin-right:20px;
			
			a{
				color:#333;
				font-size:30px;
			}
		}
		
		&.social-media-links{
			float:right;
		}
	}
}

/*6.0 - Home Sections*/
#home-section{
	
	section{
	
		.content-container{
			
			#feature-row-container{
				margin-top:50px;
				
				
				
				.feature-container{
					
					text-align:center;
					
					
					dt{
						color:$pm-dark-purple;
					}
					
					a{
						color:$pm-dark-purple;
					}
					
					> *{
					
						margin-bottom:20px;
					
					}
				}
			}		
		}
		
		#tour-container{
				
				border:1px solid #ccc;
				margin-top:50px;
				padding:50px 100px;
				text-align:center;
				 
				.row{
				 	padding:0;
				}
				
				>div{
					
					margin:0 auto;
				
				}
			
			}
	
		&#section-hero{
			
			color:$pm-white;
			background: rgb(1,64,167);
			background: linear-gradient(90deg, rgba(1,64,167,1) 0%, rgba(1,64,167,1) 31%, rgba(1,94,197,1) 54%, rgba(0,138,239,1) 100%);
			position:relative;
			overflow:hidden;
			
			#glb-bnr-strp-1 {
			    bottom: -400px;
			    transform: rotate(160deg);}
			    #glb-bnr-strp-1 {
			    left: 0;
			    bottom: -324px;}
			.glb-bnr-strp {
			    height: 700px;
			    width: 150%;
			    background-color: rgb(0, 51, 153);
			 	opacity: 0.302;
			    display: inline-block;
			    position: absolute;
			    transform: rotate(155deg);
			}
			.glb-bnr-strp-inr {
			    position: relative;
			    width: 100%;
			    height: 100%;
			}
			.glb-bnr-strp-brd {
			    content: '';
			    width: 0;
			    height: 0;
			    display: inline-block;
			    border-left: 600px solid transparent;
			    border-right: 0 solid transparent;
			    border-bottom: 30px solid rgba(255,255,255,0.05);
			    position: relative;
			    top: 98%;
			    right: -20%;
			    transform: rotate(2.5deg);
			    display: none;
			}
			
			h1,h2{
				color:$pm-white;
			}
			
			.btn-container{
				margin-top:50px;
				
				button{
					margin-right:10px;
					width:35%;
				}
			}
		
		}
		
		&#section-media-group{
		
			background-color:#e7e7e7;
			padding:30px 0 30px;
			text-align:center;
		}
		
		
		
		&#section-feature{
			
			background-color:$nav-carousel-bg-color;
			
			#carousel-features{
				
				ul{
					
					margin:0 auto;
					text-align:center;
				
					&#feature-titles{
					
						li{
							
							cursor:pointer;
							display:inline-block;
							margin-right:20px;
							
							&.active{
							
								border-bottom: 1px solid $pm-dark-purple;
							}
						
						}
					
					}
				}
				
				.carousel-control-prev{
					left:-200px;
				}
				.carousel-control-next{
					right:-200px;
				}
				
				.carousel-inner{
				
					.row{
					 	padding:100px 50px;
					}
				
					>div{
					
						height:500px;
						
					
					}
					
					.img-container{
						
						background:url('../../images/internal/background/img_obama.jpg') no-repeat;
						height:392px;
						width:100%;
					}
				}
			}	
		
		}
		&#section-testimonial{
				
				padding-top: 0;
				
				.testimonial-container{
					margin-top:50px;
					
					.testimonial{
				
						.avatar{
						
							margin-bottom:30px;
						
						}
						
						dl{
						
							dt{
							
								span{
									color:$description-font-color;
									font-weight:400;
								}
							}
						}
					
					}
				}	
		}

	}
	
}
/*7.0 Product Section*/

#section-product{
	
	section{
	
		.description{
			padding:50px;
		}
		
		>.row{
			padding: 0 4%;
		}
		
		&#section-more-features{
			background:url('../../images/internal/background/bg_blue_world.png') no-repeat;
			background-size:cover;
			color:#FFF;
			
			a{
				color:#FFF;
			}
			
			.box-container{
			
				h1,h2{
					color:$pm-dark-purple;
					font-family: marydale, sans-serif;
					font-weight: 700;
					font-style: normal;
				}
				
				background-color: #FFF;
			    color: $content-font-color;
			    padding: 7% 10%;
			    text-align: center;
			    width: 70%;
			    box-shadow: 0 10px 10px -2px #333333;		
			}
		}
		&#section-multi-program{
			.description{
				padding-top:6% !important;
			}
		}
		&#section-payment{
			.description{
				
			}
		}
		&#section-freeze{
			background:url('../../images/internal/background/bg_exercise.png') no-repeat;
			background-size:cover;
			color:#FFF;
			padding-bottom:0;
			
			.description{
				padding:150px;
			}
		}
		&#section-client-dashboard{
			background-color:#1e2a36;
			color:#FFF;
			padding-bottom:0;
			padding-top:50px;
			
			.description{
				
				a{
					color:#FFF;
				}
			}
			.img-bottom{
				position:relative;
				height:100%;
				
				
				img{
					bottom:0;
					position:absolute;
				}
			}
		}
		&#section-membership-widgets{
			padding-top:0;
			padding-bottom:0;
			
			.nav-carousel{
				.nav-title{
					ul{
						
						
						li{
							width:25%;
							
						}
					}
				}
				
				
			}
			
		}
		
		&#section-hero,&#section-client-dashboard,&#section-freeze,&#section-more-features{
			h1,h2{
				color:#FFF;
			}
		}
		
		&#section-hero,&#section-membership-widgets,&#section-client-dashboard,&#section-payment,&#section-freeze,&#section-multi-program,&#section-faq,&#section-more-features{
			
			button{
				margin-right:10px;
				margin-bottom:10px;
				width:200px;
				
			}
			a{
				color:$pm-white;
				padding-left:0;
				padding-right:0;
				white-space:nowrap;
			}
			span{
				i{
					margin-left:17px;
				}
			}
		
		}
		
		
		&#section-hero{
				
			color:$pm-white;
			background: rgb(1,64,167);
			background: linear-gradient(90deg, rgba(1,64,167,1) 0%, rgba(1,64,167,1) 31%, rgba(1,94,197,1) 54%, rgba(0,138,239,1) 100%);
			position:relative;
			overflow:hidden;
			
			&.product-membership{
				padding-bottom:0;
				
				.row{
					.description{
						padding: 4% 5% 4% !important;
					}
				}
			}
			
		}
	
	}
	
}

/*8.0 Solutions Section*/

#section-solutions{
	
	section{
	
		.text-center{
			padding-top:50px 0 50px;
			
			h5{
				padding: 50px 0 25px;
			}
			
			.btn-lg{
				padding: .5rem 4rem;
			}
		}
	
		&#section-hero{
			
			background:url('../../images/internal/background/bg_blue_running_section.jpg') no-repeat;
			background-size:cover;
			background-position:center;
			
			.demo-form-container{
			    width: 460px;
			    text-align: center;
			    margin-left: 9%;
			    height: inherit;
			    padding: 0;
			    
			    h1{
			    	color:$pm-white;
			    }
			    h3{
			    	font-weight:500;
			    }
			}
			
			button{
				&.demo-link{
					display:none;
				}
			}
			
		}
		
		&#section-clients{
			padding-top:0;
			
			button{
				text-align:center;
			}
			h1,h2{
				text-align:center;
			}
			
			.client-logos{
			
				margin: 50px 0;
    			padding: 0 12%;
    			
    			img{
    				position: relative;
					top: 50%;
					transform: translateY(-50%);
    			}
			
			}
		}
		&#section-support{
			background:url('../../images/internal/background/bg_vector.png') no-repeat;
			background-size:cover;
			padding: 2% 0;
			
			.description{
				padding: 4% 9% 4% !important;
			}
		}
		&#section-features{
			padding-top: 0;
			
			.nav-carousel{
				.nav-title{
					ul{
						
						
						li{
							width:20%;
							
						}
					}
				}
				
				.description{
					padding: 3% 8% 0;
					
					button{
						width:60%;
					}
				}
			}
			
		}
		
		&#section-topic{
			
			
			h1,h5,h2{
				text-align:center;
			}
		}
		
		&#section-features-testimonial{
			
			
			h1,h2{
				text-align:center;
				font-weight:500;
			}
			
			.col-left{
				padding-left:0;
			}
			.col-right{
				padding-right:0;
			}
			
			.box-container{
				
				background-color:#FFF;
				box-shadow: 3px 4px 12px -1px #8C8C8C;
				padding:50px;
				
				.footnote{
					color:#CCC;
				}
				.profile-container{
				
					margin-top:40px;
					
					>div{
					
						display:inline-block;
						padding: 0 2%;
    					vertical-align: bottom;
						
						h5{
							margin-bottom:0;
							font-weight:400;
						}
						h6{
							font-weight:200;
						}
						img{
							border-radius:50%;
						}
					}
					button{
						display: inline-block;
						margin-top:3%;
					    vertical-align: bottom;
					}
					
				}
			}
		}
	}
}

/*9.0 Security*/

#section-security{
	
	&.section{
		.section-hero{
			background:url('../../images/internal/background/bg_security_hero.png') no-repeat;
			background-size:cover;
			background-position:center;
			
			h1{
				color:$pm-white;
			}
			
			.content-container{
				padding:80px 0;
			}
		}
		
		.column-3-center{
			color:$pm-white;
			
			
			 dl{
			 	color:$pm-white;
			 	font-size:1.2rem;
			 	
			 	
			 	
			 	dd{
			 		color:$pm-white;
			 		font-weight:300;
			 	}
			 }
		}
		
	
	}
	
}

/*10.0 - Pricing*/

#section-pricing{
	&.section{
		.column-3-center{
			color:$pm-dark-purple;
			
			
			 dl{
			 	color:$pm-dark-purple;
			 	font-size:1.2rem;
			 	
			 	
			 	
			 	dd{
			 		color:$pm-dark-purple;
			 		font-weight:300;
			 	}
			 	a{
			 		color:$pm-dark-purple;
			 		
			 		i{
			 			font-size:inherit;
			 		}
			 	}
			 }
		}
		#section-hero{
			color:$pm-white;
			background: rgb(1,64,167);
			background: linear-gradient(90deg, rgba(1,64,167,1) 0%, rgba(1,64,167,1) 31%, rgba(1,94,197,1) 54%, rgba(0,138,239,1) 100%);
			position:relative;
			overflow:hidden; 
			padding-bottom:160px;
			
			.content-container{
				padding:50px 0 100px;
			}
		}
		
		#section-faq {
		    padding: 5% 12% 0;
		    
		}
		
		#section-pricing-table{
		
			padding-bottom:0;
			padding-top:0;
			max-width:1340px;
			margin:0 auto;
			
			.content-container{
				margin-top:-160px;
			}
			&.pricing{
				
				.row{
					>div{
						padding-left:0;
						padding-right:0;
					}
				}
				.card-body {
					padding:0;
					
					.bnr-container{
						background-color:$pm-orange;
						color:$pm-white;
						padding: 10px 20px;
					    text-align: center;
					    text-transform: uppercase;
					    font-weight: 500;
					    margin-top: -44px;
					}
				}
				.card {
				 
				 border:0;
				  border-radius: 0;
				  min-height:1490px;
				  outline:1px solid rgba(0,0,0,.125);
				  transition: all 0.2s;
				 
				}

				hr {
				  margin: 1.5rem 0;
				}

				.card-title {
				  margin: 0.5rem 0;
				  letter-spacing: .1rem;
				  font-weight: 300;
				  padding:30px 20px;
				  
				  h5{
				  	color:$pm-dark-purple;
				  	font-weight:500;
				  }
				  h6{
				  	font-weight: 300;
				  }
				}

				.card-price {
					background-color:$nav-carousel-bg-color;
					color:$pm-dark-purple;
					font-size: 4rem;
					font-weight:500;
					margin: 0;
					min-height: 200px;
	    			padding: 50px;
	    			
	    			&.feature-price{
	    					border-bottom:0;
	    				    border-top: 10px;
						    border-left: 10px;
						    border-right: 10px;
						    border-color:$pm-dark-purple;
						    border-style:solid;
						    padding: 40px;
	    			}
	 
				  
				  sup{
				  	top:-2rem;
				  	font-size:1rem;
				  	padding-right:10px;
				  }
				  .period {
				  		color:$content-font-color;
					  font-size: 0.8rem;
					}
				}

				.price-button{
				
					background-color:$nav-carousel-bg-color;
					min-height:150px;
					text-align:center;
					padding: 0px 20px 30px;
					
					&.feature-price{
	    				    border-top: 0;
						    border-left: 10px;
						    border-right: 10px;
						    border-bottom: 10px;
						    border-color:$pm-dark-purple;
						    border-style:solid;
						    padding: 0 10px 20px;
	    			}
					
					>*{
						margin-bottom:25px;
					}
					
					a{
						color:$pm-dark-purple;
						text-decoration:underline;
					}
				}

				ul{
				
					padding:30px 20px;
					
					li {
					  margin-bottom: 1rem;
					  
					  i{
					  	color:$pm-light-blue;
					  	line-height:inherit;
					  }
					}
				} 
				
				.text-muted {
				  opacity: 0.7;
				}

				.btn {
			      	margin: 0 auto;
   					display: inherit;
   					width:60%;
				}
			}
		}
	}
	
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	body{
		padding-top:90px;
		
		&.trans-container{
			#top-nav{
				.navbar-collapse{
					background-color:$pm-white;
					padding-top:30px;
					
					.nav-link{
						color:$content-font-color !important;
						padding:20px;
					}
					
				}
				
			}
			
			#home-section{
				section{
					&#section-hero{
						padding-top:70px;
					}
					
				}
			}
		}
	}
	.section{
		section{
			padding:30px 0;
		}
	}
	.row{
		padding:30px 30px 0;
	}
	
	h1 , h2 , h3 , h4 , h5 , h6 , p {
		span{
			&.no-br{
				white-space:inherit;
			}
		}
	}
	.vid-player{
		i{
			top: 40%;
    		right: 43%;
		}
	}
	/*Top Navigation*/
	#top-nav{
		.scrollable-menu {
		    height: auto;
		    max-height: 500px;
		    overflow-x: hidden;
		}
		.navbar-collapse{
			padding-top:30px;
			
			.nav-link{
				padding:20px;
			}
		}
		.navbar{
			padding:10px 10px !important;
			
			&.shrink{
				padding:10px 10px !important;
				
				
			}
			
			button{
				&.btn-lg{
					width:100%;
				}
			}
			.row{
				padding:0;
			}
			ul{
			
				&.navbar-nav{
				
					a{
						&.nav-title{
							margin-bottom:10px;
							
						}
					}
					
					i{
						float:right;
					}
					li{
					
						&.nav-item{
							
							
							
							&.show{
							
								&:before{
								
									width:0;
								
								}
								
							}
						
							.dropdown-menu{
								
								border:0;
								margin-top:0;
								padding:0;
								
								.section-nav-title{
									dl{
										dd{
											display:none;
										}
									}
								}
								
								.vertical-divider-right{
									display:none;
								}
								.row{
									.col-sm-6{
										&:nth-child(2){
											padding-left:15px;
										}
									}
								}
								&.columns-2{
								
									min-width:100%;
									padding-top:30px;
								
								}
								
								ul{
								
									li{
										margin-bottom:10px;
									}
								
								}
							
							}
						
						}
					
					}
				
					>li{
					
						&:last-child{
						
							position:relative;
						
						}
					
					}
					
				
				}
			}
			a{
				
					&.nav-login{
					
						padding-left:20px;
					}
				
				}
				
				button{
				
					margin-top: 10px;
    				margin-right: 20px;
					
					&.btn-lg{
					
						font-size:1rem;
					
					}
				
				}
		}
	}
	/*Home Template*/
	
	#home-section{
	
		section{
		
			&#section-feature{
			
				#carousel-features{
				
					.carousel-inner{
					
						margin-top:30px;
					
						.row{
							padding:0;
						}
						
						.img-container{
							display:none;
						}
					}
				}
			
			}
		
			&#section-hero{
			
				padding:10px;
				
				.row{
					
					padding:10px 10px;
				
				}
				
			
			}
			&#section-media-group{
				.col-md-2{
					margin-bottom:20px;
				}
			}
			
			#feature-row-container{
				.col{
					flex-basis:inherit;
				}
			}
			
			#multi-carousel{
				margin-top:-50px;
				&.carousel{
					.carousel-inner{
						padding: 10px 0;
						
						.carousel-item {
							background-color:$pm-white;
						    display: block;
						    float:none;
						    margin-right:0;
						    margin-top: 12px;
						    padding-top:20px;
						  }
					}
					
				} 
					.carousel-control-prev,.carousel-control-next,.carousel-indicators {
					    display: none;
					  }
			}
			&#section-industry{
			
			
			}
			
			&#section-contact{
			
				#img-group{
				
					display:none;
				}
			}
			
			
			
			#tour-container{
			
				padding:50px 30px;
			
			}
		
		}
	
	}
	
	#section-demo{
			
		.demo-form-container{
		
			padding: 40px 0;
			width:100%;
		
		}	
	
	}
	
	#footer-container{
		.logo{
		
			display:none;
		
		}
	}
	
	/*Product Template*/
	#section-product {
		section{
			&#section-client-dashboard,&#section-freeze{
				.row{
					display: flex;
    				flex-direction: column-reverse;
				}
			}
			&#section-hero,&#section-membership-widgets,&#section-client-dashboard,&#section-payment,&#section-freeze,&#section-multi-program,&#section-faq,&#section-more-features{
				button{
					
				}
				.row{
					.description{
						padding: 10% 9%;
					}
				}
			}
			
			&#section-hero,&#section-faq{
				padding:0;
			}
			
			&#section-hero{
				
				>.row{
					padding:4%;
				}
				
				a{
					display:block;
					text-align:center;
				}
			}
			
			&#section-more-features{
				&#section-more-features{
					.box-container{
						margin-top:10px;
						padding:0;
						width:100%;
					}
					
				}
			}
			
			&#section-client-dashboard{
				
				.img-bottom{
					
    				
					img{
						position:relative;
					}
				}
			}
			
			&#section-membership-widgets{
							
			}
		}
	}
	
	#section-social-group{
		>div{
			display: flex;
    		flex-direction: column-reverse;
    		text-align:center;
		}
		ul{
			width:100%;
			margin: 0 auto;
    		text-align: center;
			
			li{
				margin-right:10px;
			}
		}
	}
	
	/*Solutions Template*/
	
	#section-solutions{
		section{
			&#section-hero{
				.demo-form-container{
					
					margin-left:0;
					width:100%;
					
					.form-container{
						display:none;
					}
				}
				button{
					&.demo-link{
						display:block;
						width:100%;
					}
				}
			}
			
			&#section-topic{
				padding:0;
			}
			
			&#section-support{
				background:$nav-carousel-bg-color;
			}
			
			&#section-features-testimonial{
				.col-left{
					padding-left:15px;
				}
				.col-right{
					padding-right:15px;
				}
				.box-container{
					.profile-container{
						> div{
							display:inherit;
						}
					}
				}
			} 
		}
	}
	
	/*Common Selector*/
	.section{
		section{
			.content-container{
				width:100%;
			}
		}
	} 
	
	/*Buttons*/
	
	button{
		&.btn-lg{
			margin:10px 0;
			width:100% !important;
		}
	}
	
	.topic-container{
		>div{
			margin-bottom:10px;
			
			.info-container{
				.description{
					padding:0 !important;
				}
			}
		}
	}
	/*Nav Carousel*/
	.nav-carousel{
		.description{
			button{
				width:100% !important;
			}
		}
		.navbar{
			background-color:#FFF !important;
			padding:10px 0;
			
			a{
				&.navbar-brand{
					display:inline-block;
				}
			}
			
		}
		.carousel-item{
			.row{
				padding:0;
			}
		}
		.nav-title{
			background-color:#FFF;
					
					ul{
						li{
							&.active{
								width:100% !important;
							}
							width:100% !important;
						}
					}
					
					.form-group{
						display: inline-block;
					    background: #FFF;
					    width: 100%;
					    height: 50px;
					    text-align: center;
					    font-family: "helvetica";
					    font-size: 1.5rem;
					    margin-bottom: 0px;
					    
					    i,select{
					    	color:#999;
					    }
					    i{
					    	display:inline-block;
					    }
					    select{
					  		display:inline-block;
						    text-align: center;
						    height: 100%;
					    }
					}
				}
		}
		
		#section-pricing{
			&.section{
				#section-pricing-table{
					&.pricing{
						.card{
							min-height:inherit;
						}	
					}
				}
			}
		}
		#section-faq{
			button{
				width:inherit !important;
		    	&.btn-plus{
		    		width:inherit !important;
		    	}
		    }
		}
		 
		
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.row {
	    padding: 0 50px;
	}
	body{
		&.trans-container{
			#top-nav{
				.navbar-collapse{
					background-color:$pm-white;
					padding-top:30px;
					
					.nav-link{
						color:$content-font-color !important;
						padding:20px;
					}
					
				}
				
			}
			
			#home-section{
				section{
					&#section-hero{
						padding-top:70px;
					}
					
				}
			}
		}
	}
	
	#top-nav{
		.scrollable-menu {
		    height: auto;
		    max-height: 300px;
		    overflow-x: hidden;
		}
		.navbar-collapse{
			padding:30px;
			
			.nav-link{
				padding:20px;
			}
		}
		.navbar{
			padding:10px 10px !important;
			
			&.shrink{
				padding:10px 10px !important;
				
				
			}
			
			button{
				&.btn-lg{
					width:100%;
				}
			}
			.row{
				padding:0;
			}
			ul{
			
				&.navbar-nav{
				
					a{
						&.nav-title{
							margin-bottom:10px;
							
						}
					}
					
					i{
						float:right;
					}
					li{
					
						&.nav-item{
							
							
							
							&.show{
							
								&:before{
								
									width:0;
								
								}
								
							}
						
							.dropdown-menu{
								
								border:0;
								margin-top:0;
								padding:0;
								
								.section-nav-title{
									dl{
										dd{
											display:none;
										}
									}
								}
								
								.vertical-divider-right{
									display:none;
								}
								.row{
									.col-sm-6{
										&:nth-child(2){
											padding-left:15px;
										}
									}
								}
								&.columns-2{
								
									min-width:100%;
									padding-top:30px;
								
								}
								
								ul{
								
									li{
										margin-bottom:10px;
									}
								
								}
							
							}
						
						}
					
					}
				
					>li{
					
						&:last-child{
						
							position:relative;
						
						}
					
					}
					
				
				}
			}
			a{
				
					&.nav-login{
					
						padding-left:20px;
					}
				
				}
				
				button{
				
					margin-top: 10px;
    				margin-right: 20px;
					
					&.btn-lg{
					
						font-size:1rem;
					
					}
				
				}
		}
	}
		
	/*Product Template*/
	#section-product {
		section{
			&#section-hero,&#section-faq{
				padding:0;
			}
		}
	}
	
	.scrollable-menu {
	    height: auto;
	    max-height: 300px;
	    overflow-x: hidden;
	}
}

/* IPAD + IPAD PRO (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1024px) { 
	
		#top-nav{
					.navbar{
						padding:25px 15px !important;
						
						&.shrink{
							padding:25px 15px !important;
						}
						
						.nav-right{
							left:auto;
						}
					}
	}
	
	#section-pricing{
		&.section{
			#section-pricing-table{
				&.pricing{
					.card{
						min-height: 1570px;
					}
					.card-price{
						font-size:2.6rem;
						min-height: 150px;
    					padding: 40px;
    					
    					.feature-price{
    						padding: 30px;
    					}
					}
				}
			}
		}
	} 
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	
	body{
		
			#top-nav{
				.scrollable-menu {
				    height: auto;
				    max-height: 300px;
				    overflow-x: hidden;
				}
				.navbar{
					padding:25px !important;
		
					&.shrink{
						padding:25px !important;
					}
					ul{
						&.navbar-nav{
						
							padding:25px 0;
							
							> li{
								&:last-child{
									position:relative;
								}
							}
							
							a{
								i{
									float:right;
								}
							}
						}
					}
					
					
				}
				.navbar-collapse{
					background-color:$pm-white;
					border:1px solid #CCC;
					padding:20px;
					
					.nav-link{
						color:$content-font-color !important;
						
						&.nav-login{
							
							margin-bottom:20px;
						}
					}
				}
				
				
			}
		
	}
	.trans-container{
		#top-nav{
			.navbar-collapse{
				.nav-link{
					color:$content-font-color !important;
					&.nav-login{
						color:$content-font-color !important;
					}
				}
			}
		}  
	}
	.navbar-collapse{
		background-color:#FFF;
	}
	.text-center{
		button{
			width:50%;
		}
	} 
	.nav-carousel{
		.navbar{
			a{
				&.navbar-brand{
					display:block;
				}
			}
		}
	}
	#home-section{
		section{
			&#section-hero{
				.vid-player{
					display:none;
				}
				.btn-container{
					button{
						margin-bottom:20px;
						width:100%;
					}
				}
			}
		}
	}
	
	#section-solutions{
		section{
			&#section-features-testimonial{
				.box-container{
					padding:20px;
				}
			}
		}
	}
	#section-faq{
		padding: 5% 2%;
	}
	#section-product,#section-solutions{
		section{
			
				.nav-carousel{
					.content-container{
						width:100%;
					}
					.navbar{
					
						padding:20px;
						
						a{
							&.navbar-brand{
								display:block;
							}
						}
					}
					.nav-title{
						ul{
							li{
								width:100% !important;
							}
						}
					}
				}
			
		}
	}
	
	#section-pricing{
			&.section{
			
				#section-hero{
					.content-container{
						padding:50px 30px 100px !important;
					} 
				}
				#section-pricing-table{
					&.pricing{
						.card{
							min-height:1700px;
						}
						.card-price	{
							font-size:3rem;
							min-height:120px;
							padding:20px 10px !important;
							
							&.feature-price{
								padding-top:10px !important;
							}
						}
						.btn{
							width:100%;
						}
					}
				}
			}
		}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1800px) { 
	
	/*Product Template*/
	#section-product {
		section{
			&#section-hero{
				
			}
		}
	}
	
	
	
}

@media (min-width: 992px){
	/*Feature Nav Carousel*/
	#carousel-nav-container{
	
		.navbar-expand-lg{
		
			ul.navbar-nav{
			
				li{
					a{
						&.nav-link{
							padding-left:0;
							padding-right:0;
	
						}
					}
					
				}
				
			}
		}
	}
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	#top-nav{
		.navbar{
			
			padding: 25px 50px !important;
			
			ul{
				&.navbar-nav{
				
					>li{
					
						&:last-child{
						
							
						}
					
					}
				
				}
			
			}
		}
	}
	
	#section-product{
		section{
			&#section-hero,&#section-membership-widgets,&#section-client-dashboard,&#section-payment,&#section-freeze,&#section-multi-program,&#section-more-features{
				.row{
					.description{
						padding: 1% 5% 4% !important;
					}
				}
			}
			&#section-client-dashboard{
				.img-bottom{
					min-height:inherit;
				}
			}
		}
	} 
	
}
@media (max-width: 1400px) { 
	.nav-carousel{
		.navbar{
			width:100%;
		}
	}
}
@media (max-width: 992px) { 
	#section-security{
		&.section{
			.section-hero{
				padding:0;
			}
		}
	}
	#section-faq{
		padding: 5% 1% !important;
	}
	
	#top-nav{
		 .navbar{
		 	ul{
		 		&.navbar-nav{
		 			li{
		 				&.nav-item{
		 					&.dropdown{
								&:hover{
									
									>.dropdown-menu{
										display:none;
										
										&.show{
											display:block;
										}
									}
								}
							}
		 				}
		 			}
		 		}
		 	}
		 }
	} 
}


/*Multi Item Carousel*/
#multi-carousel{
    	margin:0 auto;
    	width:90%;
    	
    	.carousel-item{
    		transition: transform .1s;
    	}
    }
@media (max-width: 767.8px) {
	#multi-carousel .carousel-inner .active,
    #multi-carousel .carousel-inner .active + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    	background-color:#FFF;
    }
	
}
@media (min-width: 768px) {

    /* show 3 items */
    #multi-carousel .carousel-inner .active,
    #multi-carousel .carousel-inner .active + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    	background-color:#FFF;
    	padding:10px;
    	border-right:10px solid $nav-carousel-bg-color;
        display: block;
         margin-right:0 !important;
         -webkit-box-shadow: -28px 36px 16px -31px rgba(173,173,173,1);
		-moz-box-shadow: -28px 36px 16px -31px rgba(173,173,173,1);
		box-shadow: -28px 36px 16px -31px rgba(173,173,173,1);
		text-align:center;
    }
    
    #multi-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #multi-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #multi-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #multi-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
         margin-right:0 !important;
    }
    
    #multi-carousel .carousel-inner .carousel-item-next,
    #multi-carousel .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    #multi-carousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
       
    }
    
    /* left or forward direction */
    #multi-carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #multi-carousel .carousel-item-next.carousel-item-left + .carousel-item,
    #multi-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #multi-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #multi-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    #multi-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #multi-carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #multi-carousel .carousel-item-prev.carousel-item-right + .carousel-item,
    #multi-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #multi-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #multi-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    
    #multi-carousel{
    	
    	
    	a{
    		padding:10px;
    		text-align:center;
    		border-radius:50%;
    		width:40px;
    		height:40px;
    		background-color:$pm-white;
    		top:120px;
    		
	    	i{
	    		color:$pm-dark-purple !important;
	    		text-align:center;
	    	}
    	}
    	.carousel-inner{
    		padding:50px 0;
    		
    		dt{
    			margin-bottom:10px;
    		}
    	}
    }
    #multi-carousel .carousel-control-next{
    	right: -4%;
    }
    #multi-carousel .carousel-control-prev{
    	left: -4%;
    }
    

}

@media (min-width: 991.8px) {
	 #multi-carousel{
	 	.carousel-item{
	 		padding:20px;
	 	}
	 }
	#multi-carousel .carousel-inner .active,
    #multi-carousel .carousel-inner .active + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item,
    #multi-carousel .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    	background-color:#FFF;
    	padding:50px;
		text-align:center;
    }
    
    
	
}

/*HS layout fixes*/
.row-fluid [class*="span"]{
	min-height:0;
}

@media (min-width: 1280px){
  .row-fluid [class*="span"] {
    min-height:0;
  }
}