@import url('../../assets/external/fontawesome/css/all.min.css');

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
/*{% include "hubspot/styles/responsive/modules.css" %}*/
/*{% include "hubspot/styles/patches/recommended.css" %}*/


/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/*

PM MAIN CSS Stylesheet
Author: Tat Chow
Date: March 13, 2019

*/

/*
    Table of Contents

    1.0 - Common Selectors
    2.0 - Header Menu/Top Navigation
    3.0 - Buttons
    	3.1 - Tabs
    4.0 - Main Content
    5.0 - Footer
    6.0 - Home Sections
    7.0 - Product Sections
*/

/*1.0 - Common Selectors*/
/*SASS variables*/
$content-font-color:#353535;
$pm-white: #FFFFFF;
$pm-dark-purple:#003594;
$pm-light-blue:#009fdf;


body{
	color:$content-font-color;
	font-family:"Helvetica Neue";
	padding-top:6.3rem;
}

h1,h5{
	margin-bottom:26px;
	
}
h3{
	color:$content-font-color;
	
}

h3,h5{
	font-weight:300;
}
.row{
	padding:0 100px;
}
ul{
	padding:0;
	
	li{
		list-style-type:none;
		margin-bottom:10px;
	}
	
}
.container-fluid{
	
	padding-left:0;
	padding-right:0;
}

.bold{
		font-weight:600;
	
}

.section{
	section{
		padding:100px 0;
	}
}

.footnote{
	color:#FFF;
	font-size:.8em;
	
	a{
		color:#FFF;
		text-decoration:underline;
	}
	
}

/*2.0 - Header Menu/Top Navigation */
.navbar{
	
	background-color:#FFFFFF;
	padding:25px 100px !important;
	transition: 0.5s;
	
	.navbar-brand{
		margin-right:2.5rem;
		
		img{
			width:225px
		}
	}
	button{
	
		
	
		&.btn-lg{
	
			font-size: 1em;
			transition: 0.5s;
			white-space:nowrap;
			width: 226px;
    		
		
		}
	}
	
	
	&.shrink{
	
		background-color:#FDFDFD;
		border:1px solid #CCCCCC;
		padding:10px 100px !important;
		
		.btn-lg{
			
			font-size:1rem;
			padding: .3rem .5rem;
		
		}
		
		ul{
		
			&.navbar-nav{
			
				li{
				
					&.nav-item{
				
						.dropdown-menu{
					
							margin-top:12px;
						}
						
						&:before{
							margin-top:7px;
						
						}	
					
					}
				
				}
			
			}
		
		}
	
	}
	.nav-login{
		color: rgba(0,0,0,.5);
	 	padding-bottom:0;
	 	padding-left:.3rem;
	 	padding-right:2.3rem;
	 	white-space:nowrap;
	 	
	 	&:hover{
	 		color: $pm-light-blue;
	 	}
	 	
	 	i{
	 		font-size:14px;
	 	}
	}
	
	ul{
		
		&.navbar-nav{
		
			position:relative;
			width:100%;
			
			a{
					
				&.nav-title{
					cursor: initial;
					font-weight:600;
					margin-bottom:36px;
					
					&:hover{
					
						background-color:inherit;
					
					}
					
					i{
						font-size:25px;
						margin-left:0;
						margin-right:15px;
					}
				}
				
				i,svg{
					margin-left:20px;
					transition: all 0.3s ease;
				}
			
			}
	
			li{
				
			
				&.nav-item{
					
					
					margin-bottom:-10px;
					margin-right:25px;
					
					a{
						&.nav-link{
						
							&:hover{
								color:$pm-light-blue !important;
							}
						}
					}
					
				.row{
				
					padding:37px;
				
				}
				
				.dropdown-menu{
				
					margin-top:28px;
					
					&.columns-2{
					
						min-width: 610px;
					
					}
					
					.dropdown-item{
						display:inline-block;
						padding:0;
						width:inherit;
					
					}
					
					ul{
					
						li{
						
							display:table;
							margin-bottom:36px;
							
							&:hover{
								
								a{
									background-color:inherit;
									color:$pm-light-blue;
								}
							
							}
							
								ul{
									display:table-row;
									
									&:hover{
									
										i{
											color:$pm-light-blue;
										}
										
										a{
											background-color:inherit;
											color:$pm-light-blue;
										}
									
									}
								
									li{
										display:table-cell;
										
										&:first-child{
										    padding-right: 20px;
										    text-align: center;
										    width: 50px;
										    
										    i{
										    	font-size: 25px;
										    }
										}
									}
									
									
								}
						
						}
					
					}
				}
				
	
				
				.dropdown-toggle{
				
					&[aria-expanded="true"]{
					
					
						color:$pm-light-blue;
						
						i{
							transform: rotate(180deg);
						}
					
						&:after{
						
							transform: rotate(180deg);
						
						}
						
						
					
					}
					
					&:after{
						
						display:none;
						 transition: 0.5s;
						
					
					}
				
				}
				
				&.show{
				
						&:before{
							width:100px;
					}
				
				}
				
				&:before{
				
					content: "";
				    position: absolute;
				    background: $pm-light-blue;
				    width: 0px;
				    height: 5px;
				    margin-top:22px;
				    top: 100%;
				    -webkit-transform: translate(0%, 0%);
				    transform: translate(0%, 0%);
				    -webkit-transition: all 0.3s ease;
				    transition: all 0.3s ease;
				    z-index: -1;
				}	
				
				}
			
				
			
			}
			
			>li{
				&:last-child{
					position:absolute;
					right:0;
				}
			
			}
	
		}
	}
	
}

/*3.0 Buttons*/
button{
	color:$pm-white;
}
.btn-primary{
	color:$pm-white;
	background-color:$pm-dark-purple;
	border-color: $pm-dark-purple;
}
.btn-outline-primary{
	color: $pm-dark-purple;
    border-color: $pm-dark-purple;
}
.btn-lg{
	border-radius:2rem;
}

.btn-orange{
	
	background-color: #fe9900;
    border-color: #fe9900;
    color: #000;
    width: 100%;
	
}

.btn-white{
	background-color: #FFF;
    border-color: #FFF;
    color: $content-font-color;
}


/*5.0 Footer Container*/

#section-demo{
	background: url('../../images/internal/background/bg_demo_section.jpg') no-repeat;
       background-size:cover;
	height:577px;
	text-align:center;
	
	
	h3,h6{
		color:#FFF;
		margin-bottom:26px;
	}
	
	#demo-form-container{
		
		margin:0 auto;
		padding:70px 0;
		width:460px;
		
		input{
		
		}
		.form-row{
			margin-bottom:10px;
			.col{
				margin-right:10px;
			}
		}
	}
		
}

#footer-container{
	background-color:#333333;
	padding:50px 50px;
	
	.logo{
		img{
			filter: brightness(0) invert(1);
			width:90%;
		}
	}
	h5{
		color:#FFFFFF;
		margin-bottom:20px;
	}
	ul{
		li{
			a{
				color:#686c6b;
				font-size:14px
			}
		}
	}
	
}
#section-social-group{
	
	.row{
		padding:50px;
	}
	.footnote{
		color:#CCCCCC;
	}
	ul{
		display:inline-block;
		li{
			display:inline-block;
			margin-right:20px;
			
			a{
				color:#333;
				font-size:30px;
			}
		}
		
		&.social-media-links{
			float:right;
		}
	}
}

/*6.0 - Home Sections*/
#home-section{
	
	section{
		
		#tour-container{
				
				border:1px solid #ccc;
				margin-top:50px;
				padding:50px 100px;
				text-align:center;
				 
				.row{
				 	padding:0;
				}
				
				>div{
					
					margin:0 auto;
				
				}
			
			}
	
		&#section-hero{
			
			color:$pm-white;
			background-color:$pm-dark-purple;
			padding:100px 200px;
			text-align:center;
			
			.btn-container{
				margin-top:50px;
				
				.btn-primary{
					background-color:#007bff;
				}
			}
		
		}
		
		&#section-media-group{
		
			background-color:#e7e7e7;
			padding:30px 0 30px;
			text-align:center;
		}
		
		&#section-platform-check{
		
			
			i{
				color:$pm-dark-purple;
			}
			
			ul{
				margin-top:25px;
				li{
					
				}
			}
			
			
		}
		
		&#section-feature{
			
			background-color:#dde4ec;
			
			#carousel-features{
				
				ul{
					
					margin:0 auto;
					text-align:center;
				
					&#feature-titles{
					
						li{
							
							cursor:pointer;
							display:inline-block;
							margin-right:20px;
							
							&.active{
							
								border-bottom: 1px solid $pm-dark-purple;
							}
						
						}
					
					}
				}
				
				.carousel-control-prev{
					left:-200px;
				}
				.carousel-control-next{
					right:-200px;
				}
				
				.carousel-inner{
				
					.row{
					 	padding:100px 50px;
					}
				
					>div{
					
						height:500px;
						
					
					}
					
					.img-container{
						
						background:url('../../images/internal/background/img_obama.jpg') no-repeat;
						height:392px;
						width:100%;
					}
				}
			}	
		
		}
		&#section-testimonial{
			
				.testimonial{
				
					.avatar{
					
						margin-bottom:30px;
					
					}
				
				}
			
		}
		&#section-industry{
		
			text-align:center;
			
			h3{
				margin-bottom:25px;
			}
			.img-container{
				margin:25px 0 50px;
			}
			#img-business{
				background:url('../../images/internal/background/img_obama.jpg') no-repeat;
				background-repeat:no-repeat;
				background-size:contain;
				background-position:center;
				height:392px;
				width:100%;
				
			}
			
			#img-organization{
				background:url('../../images/internal/background/img_obama.jpg') no-repeat;
				background-repeat:no-repeat;
				background-size:contain;
				background-position:center;
				height:392px;
				width:100%;
			}
		
		}
		
		&#section-contact{
			background-color:#dde4ec;
			
			.row{
				div:nth-child(2){
					div{
						width:80%;
					}
					
				}
			}
			#img-group{
				background:url('../../images/internal/background/img_obama.jpg') no-repeat;
				height:392px;
				width:80%;
			}
			
		}
		
		&#section-philosophy{
		
			text-align:center;
			
			.col{
				div{
					margin:0 auto;
					width:80%;
				}
			}
		
		}

	}
	
}
/*7.0 Product Section*/

#section-product{
	
	section{
	
		.description{
			padding:50px;
		}
		&#section-faq{
		
			>div{
				margin-bottom:50px;
			}
			padding:100px 150px;
			
			h1,h5{
				text-align:center;
			}
			h4{
				color:$pm-dark-purple;
			}
			
			.accordion{
				button{
					color:$pm-dark-purple;
					width:inherit;
					
					&.btn-plus{
						float:right;
						margin-top:5px;
						
						&:after {
							  content: "\f055"; 
							  font-family: 'Font Awesome 5 Pro';
							  position: absolute;
							  right: 20px;
							}
						&[aria-expanded="true"]:after {
						  content: "\f056"; 
						}
					}
				}
				
				.card{
					.card-header{
						background-color:#FFF;
					}
				}
			}
			
			#topic-container{
				.description{
					padding:0;
				}
				a{
					color:$pm-dark-purple;
					display:block;
					margin-top:20px;
				}
				
				>div{
					>div{
						border:1px solid #CCC;
						
						.info-container{
							padding:20px;
						}
					}
					
				}
			}
		}
		&#section-more-features{
			background:url('../../images/internal/background/bg_blue_world.png') no-repeat;
			background-size:cover;
			color:#FFF;
			
			.description{
				padding:0 150px !important;
			}
			
			a{
				color:#FFF;
			}
			
			.box-container{
			
				h1{
					color:$pm-dark-purple;
					font-family: marydale, sans-serif;
					font-weight: 700;
					font-style: normal;
				}
				
				background-color: #FFF;
			    color: $content-font-color;
			    padding: 70px 100px;
			    text-align: center;
			    width: 70%;
			    box-shadow: 0 10px 10px -2px #333333;		
			}
		}
		&#section-multi-program{
			.description{
				padding:150px !important;
			}
		}
		&#section-payment{
			.description{
				padding-left:150px !important;
			}
		}
		&#section-freeze{
			background:url('../../images/internal/background/bg_exercise.png') no-repeat;
			background-size:cover;
			color:#FFF;
			padding-bottom:0;
			
			.description{
				padding:150px;
			}
		}
		&#section-client-dashboard{
			background-color:#1e2a36;
			color:#FFF;
			padding-bottom:0;
			padding-top:50px;
			
			.description{
				
				a{
					color:#FFF;
				}
			}
		}
		&#section-membership-widgets{
			padding-top:0;
			padding-bottom:0;
			
			#membership-carousel{
				.row{
					.col{
						padding-top:50px;
					}
				}
			}
			
			#membership-nav{
				background-color: #dde4ec;
			    box-shadow: 0 4px 4px -2px #CCC;
			    
			    ul{
			    	padding: 0 150px;
				    width: 100%;
				    margin: 0;
			    	li{
			    		display: inline-block;
					    width: 24%;
					    text-align: center;
					    padding: 30px;
					    margin-bottom: -1px;
					    cursor:pointer;
					    
					    &:hover{
					    	text-decoration:underine;
					    }
					    border-bottom:0px solid #CCC;
					    transition: 0.5s;
					    
					    &.active{
					    	background-color:#FFF;
					    	border-bottom:3px solid $pm-light-blue;
					    }
			    	}
			    }
			}
		}
		
		&#section-hero,&#section-membership-widgets,&#section-client-dashboard,&#section-payment,&#section-freeze,&#section-multi-program,&#section-faq{
		
			.row{
				div.col-md-6:nth-child(1){
					padding:50px 50px 0;
				}
			}
			
			button{
				margin-right:17px;
				width:45%;
				
			}
			a{
				color:$pm-white;
			}
			span{
				i{
					margin-left:17px;
				}
			}
			img{
				display:block;
				margin:0 auto;
				max-width:100%;
			}
		
		}
		
		
		&#section-hero{
			color:$pm-white;
			background:url('../../images/internal/background/bg_blue_section.png') no-repeat;
			background-size:cover;
			padding:100px;
			
		}
	
	}
	
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	body{
		padding-top:90px;
	}
	.row{
		padding:0 30px;
	}
	.navbar{
		padding:10px 10px !important;
		
		&.shrink{
			padding:10px 10px !important;
		}
		
		ul{
		
			&.navbar-nav{
			
				a{
					&.nav-title{
						margin-bottom:10px;
						
					}
				}
				
				i{
					float:right;
				}
				li{
				
					&.nav-item{
					
						&.show{
						
							&:before{
							
								width:0;
							
							}
							
						}
					
						.dropdown-menu{
						
							margin-top:0;
						
							&.columns-2{
							
							
								min-width:100%;
							
							}
							
							ul{
							
								li{
									margin-bottom:10px;
								}
							
							}
						
						}
					
					}
				
				}
			
				>li{
				
					&:last-child{
					
						position:relative;
					
					}
				
				}
				
			
			}
		}
		a{
			
				&.nav-login{
				
					padding-left:0;
				}
			
			}
			
			button{
			
				margin-top:20px;
				
				&.btn-lg{
				
					font-size:1rem;
				
				}
			
			}
	}
	
	#home-section{
	
		section{
		
			&#section-feature{
			
				#carousel-features{
				
					.carousel-inner{
					
						margin-top:30px;
					
						.row{
							padding:0;
						}
						
						.img-container{
							display:none;
						}
					}
				}
			
			}
		
			&#section-hero{
			
				padding:10px;
				
				.row{
					
					padding:10px 10px;
				
				}
			
			}
			
			&#section-industry{
			
			
			}
			
			&#section-contact{
			
				#img-group{
				
					display:none;
				}
			}
			
			
			
			#tour-container{
			
				padding:50px 30px;
			
			}
		
		}
	
	}
	
	#section-demo{
			
		#demo-form-container{
		
			padding: 40px 0;
			width:100%;
		
		}	
	
	}
	
	#footer-container{
		.logo{
		
			display:none;
		
		}
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.row {
	    padding: 0 50px;
	}
	#section-product {
		section{
			&#section-hero{
				padding:0;
			}
		}
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1800px) { 
	#section-product {
		section{
			&#section-hero{
				padding:50px 0;
				.row{
					div:nth-child(1){
						padding:0;
					}
				}
			}
		}
	}
	#video-frame{
		.modal-dialog{
			width:800px;
		}
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1800px) { 
	
	
}

